#bmi-secondary{
    margin-right: 20%;
    margin-left: 20%;
}
input{
    width: 150px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    border-style:solid;
    border-color: white;
}
Button{
    height: 45px;
}
::placeholder{
    color: white;
  }
@media (prefers-color-scheme: light) {
    input{
        width: 150px;
        background-color: #0d6efd;
        color: white;
        border-radius: 5px;
        border-style:solid;
        border-color: black;
    }
    ::placeholder{
        color: black;
      }
}