.footer {
    padding: 5px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #111111;
    color: white;
    text-align: center;
}

#gen p {
    text-align: left;
}

@media(prefers-color-scheme:light){
    .footer {
        padding: 5px;
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: #0d6efd;
        color: black;
        text-align: center;
    }
    
    #gen p {
        text-align: left;
    }
}